<div id="settingsContainer">
    <h2>Email Preferences</h2>
    <div class="settings-group">
        <div class="setting-wrapper">
            <input type="checkbox" name="security-emails" id="securityEmails" <%= (user.email_preferences?.security_emails) ? 'checked' : '' %>>
            <label for="securityEmails">
                <span>
                    <div class="setting">
                        <div class="setting-data">
                            <p class="setting-name">Security & Account Emails</p>
                            <p class="setting-desc">Receive crucial security notifications and updates regarding your account.</p>
                        </div>
                        <div class="setting-actions">
                            <div class="toggle-switch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
                            </div>
                        </div>
                    </div>
                </span>
            </label>
        </div>
        <div class="setting-wrapper">
            <input type="checkbox" name="newsletter-emails" id="newsletterEmails" <%= (user.email_preferences?.newsletter_emails) ? 'checked' : '' %>>
            <label for="newsletterEmails">
                <div class="setting">
                    <div class="setting-data">
                        <p class="setting-name">Newsletter Subscription</p>
                        <p class="setting-desc">Stay informed with our latest updates, newsletters, and exclusive offers.</p>
                    </div>
                    <div class="setting-actions">
                        <div class="switch-wrapper">
                            <div class="toggle-switch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <h2>Service Settings</h2>
    <div class="settings-group">
        <div class="setting-wrapper">
            <input type="checkbox" name="save-downloads" id="saveDownloads" <%= (user.save_downloads) ? 'checked' : '' %>>
            <label for="saveDownloads">
                <div class="setting">
                    <div class="setting-data">
                        <p class="setting-name">Save Downloads</p>
                        <p class="setting-desc">Automatically store downloaded videos from supported platforms in your account.</p>
                    </div>
                    <div class="setting-actions">
                        <div class="switch-wrapper">
                            <div class="toggle-switch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <h2>Account Data</h2>
    <div class="settings-group">
        <div class="setting-wrapper">
            <div class="setting not-clickable">
                <div class="setting-data">
                    <p class="setting-name">Request Data</p>
                    <p class="setting-desc">Request a copy of all your personal data to be sent to your email address.</p>
                </div>
                <div class="setting-actions">
                    <button>Request</button>
                </div>
            </div>
        </div>
        <div class="setting-wrapper">
            <div class="setting not-clickable">
                <div class="setting-data">
                    <p class="setting-name">Delete Account</p>
                    <p class="setting-desc">Permanently delete your account and all associated data.</p>
                </div>
                <div class="setting-actions">
                    <button>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>