div#pageLoading{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
div#pageLoading.active{
    display: block;
}
div#pageLoading > div#pageLoadingBar{
    position: relative;
    width: 100%;
    height: 4px;
}
div#pageLoading.active div#pageLoadingBar > div.loaded{
    position: absolute;
    height: 100%;
    animation: 1s ease infinite loadingBar;
    background-color: var(--color-primary);
}
@keyframes loadingBar {
    0%{
        width: 0;
    }
    75%{
        width: 100%;
        left: 0;
    }
    100%{
        left: 100%;
        width: 0;
    }
}
div#pageLoading > div#pageLoadingBlur{
    width: 100%;
    height: 100%;
    background-color: #f5f6fb;
    opacity: .55;
}
div#main{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 3rem .75rem;
}
div#sideMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 .5rem;
}
div#sideMenu div.side-menu-group{
    padding: .25rem 0;
}
div#sideMenu div.side-menu-group > p{
    font-size: 14px;
    padding: .25rem 0;
}
div#sideMenu a.side-menu-item{
    display: flex;
    padding: .5rem;
    margin: .25rem 0;
    border-radius: var(--border-radius-inner);
    font-size: 15px;
    /* font-weight: 500; */
    color: var(--color-gray-primary);
    cursor: pointer;
    transition: .14s ease all;
    user-select: none;
    text-decoration: none;
}
div#sideMenu a.side-menu-item.active{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
div#sideMenu a.side-menu-item:hover{
    background-color: #f5f6fb;
}
div#sideMenu a.side-menu-item span{
    display: flex;
    align-items: center;
}
div#sideMenu a.side-menu-item span div.icon{
    margin-right: .75rem;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#sideMenu a.side-menu-item span div.icon svg{
    width: 100%;
    height: 100%;
}

div#accountContainer{
    padding: 0 .5rem;
}
div#accountContainer div.container-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin: .5rem 0;
    border-radius: var(--border-radius-inner);
    transition: .14s ease all;
}
div#accountContainer a div.container-group{
    cursor: pointer;
}
div#accountContainer a div.container-group:hover{
    background-color: #f5f6fb;
}
div#accountContainer a{
    text-decoration: none;
    color: var(--color-gray-primary);
}
div.group-details > p.heading-text{
    font-size: 14px;
    font-weight: 500;
    padding: .25rem 0;
}
div.group-details > div.group-value{
    display: flex;
    align-items: center;
    padding: .25rem 0;
}
div.group-details > div.group-value > p{
    font-size: 15px;
    color: var(--color-gray-primary);
}
div.group-value > span.chip{
    font-size: 12px;
    margin: 0 1rem;
    padding: .25rem .5rem;
    border-radius: var(--border-radius-inner);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-transform: capitalize;
}
div.group-value > span.chip.red{
    color: #df6363;
    background-color: #f9e8e8;
}
div.group-action{
    display: flex;
    align-items: center;
    color: var(--color-gray-primary);
}
div.group-action > div.user-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 1rem;
}
div.group-action > div.user-image img{
    width: 100%;
    height: 100%;
}

div#settingsContainer{
    padding: 0 .5rem;
}
div#settingsContainer > h2{
    font-size: 1.25rem;
    padding: .5rem 1rem;
    color: var(--color-gray-primary);
}
div#settingsContainer > h2:not(:first-child){
    padding-top: 2rem;
}
div#settingsContainer > div.settings-group{
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
}
div.settings-group > div.setting-wrapper input{
    display: none;
}
div.setting-wrapper div.setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin: .5rem 0;
    border-radius: var(--border-radius-inner);
    transition: .14s ease all;
}
div.setting-wrapper div.setting:not(.not-clickable):hover{
    background-color: #f5f6fb;
    cursor: pointer;
}
div.setting > div.setting-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.setting > div.setting-data p.setting-name{
    font-size: 15px;
    font-weight: 500;
    padding: .25rem 0;
    color: var(--color-gray-primary);
}
div.setting > div.setting-data p.setting-desc{
    padding: .25rem 0;
    color: var(--color-gray-primary);
    font-size: 14px;
}
div.setting > div.setting-actions button{
    cursor: pointer;
    padding: .5rem .75rem;
    border: none;
    border-radius: var(--border-radius-inner);
    background-color: #424959;
    color: #fff;
    transition: .14s ease all;
}
div.setting > div.setting-actions button:hover{
    background-color: #3b404e;
}
div.setting > div.setting-actions button:active{
    background-color: #353a46;
}

div.toggle-switch{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 52px;
    height: 26px;
    border-radius: 15px;
    background-color: #424959;
}
div.toggle-switch::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .33);
    transition: .28s ease all;
}
input:checked + label div.toggle-switch{
    background-color: var(--color-primary);
}
input:checked + label div.toggle-switch::before{
    left: 28px;
}
div.toggle-switch svg{
    width: 16px;
    height: 16px;
    color: #fff;
    font-weight: bold;
    stroke-width: 3px;
    transition: .18s ease all;
    opacity: 0;
    scale: .5;
}
div.toggle-switch svg:first-child{
    scale: .5;
    opacity: 0;
}
div.toggle-switch svg:last-child{
    opacity: 1;
    scale: 1;
}
input:checked + label div.toggle-switch svg:first-child{
    scale: 1;
    opacity: 1;
}
input:checked + label div.toggle-switch svg:last-child{
    scale: .5;
    opacity: 0;
}

div#mainWrapper{
    position: relative;
}
div#saveChangesPopup{
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .675rem;
    width: 100%;
    max-width: 600px;
    border-radius: var(--border-radius-inner);
    background-color: #141619;
    transition: .5s ease all;
}
div#saveChangesPopup.active{
    animation: .7s ease bouncePopup;
    animation-fill-mode: forwards;
}
@keyframes bounceHide {
    0%{
        bottom: 4rem;
    }
    100% {
        bottom: -100%;
    }
}
@keyframes bouncePopup {
	0% {
        bottom: -100%;
    }
	75% {
        bottom: 4.5rem;
    }
    90%{
        bottom: 3.75rem;
    }
    100%{
        bottom: 4rem;
    }
}

div#saveChangesPopup > div.prompt{
    padding: 0 .5rem;
}
div#saveChangesPopup > div.prompt p{
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 500;
}
div#saveChangesPopup > div.actions{
    display: flex;
    margin-left: 1rem;
    transition: .14s ease all;
}
div#saveChangesPopup > div.actions button.cancel-button{
    padding: 0 .25rem;
    margin: 0 .5rem;
    border: none;
    background: none;
    color: #f9f9f9;
    cursor: pointer;
    transition: .14s ease all;
}
div#saveChangesPopup > div.actions button.cancel-button:hover{
    text-decoration: underline;
}
div#saveChangesPopup > div.actions button.save-button{
    padding: .5rem .675rem;
    /* margin: 0 .5rem; */
    border: none;
    border-radius: 6px;
    background-color: var(--color-primary-active);
    color: #fff;
    cursor: pointer;
    transition: .14s ease all;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .14s ease all;
    width: 120px;
}
div#saveChangesPopup > div.actions button.save-button.saved{
    width: 65px;
}
div#saveChangesPopup > div.actions button.save-button > span.saved-text{
    display: none;
}
div#saveChangesPopup > div.actions button.save-button.loading > span{
    opacity: 0;
}
div#saveChangesPopup > div.actions button.save-button.saved > span.text{
    opacity: 0;
    display: none;
}
div#saveChangesPopup > div.actions button.save-button.saved > span.saved-text{
    display: block;
}
button.save-button > div.dot-typing{
    display: none;
    position: absolute;
    width: 80px;
    height: 38px;
}
button.save-button.loading > div.dot-typing{
    display: block;
}
button.save-button > div.dot-typing svg{
    width: 100%;
    height: 100%;
}
div#saveChangesPopup > div.actions button.save-button:active{
    background-color: var(--color-primary);
}

div#editWrapper{
    padding: 0 .5rem;
}
div#editNavigation{
    display: flex;
    flex-direction: column;
    padding: .5rem 0 1.5rem;
}
div#editNavigation div.navigation{
    display: flex;
    align-items: center;
}
div#editNavigation div.navigation a.navigation-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    padding: .5rem;
    text-decoration: none;
    border-radius: 50%;
    transition: .14s ease all;
}
div#editNavigation div.navigation a.navigation-button:hover{
    background-color: #ddd;
}
div#editNavigation div.navigation a.navigation-button svg{
    width: 100%;
    height: 100%;
    color: var(--color-gray-primary);
}
div#editNavigation div.navigation p{
    margin-left: .5rem;
    font-size: 20px;
    color: var(--color-gray-primary);
}
div#editNavigation > p.page-description{
    font-size: 14px;
    padding: .25rem .5rem;
    color: var(--color-gray-primary);
}

div#editContainer > form{
    width: 100%;
    max-width: 420px;
}
div#editContainer > form > div.form-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.form-data div.email-verification-status{
    display: flex;
    padding: .25rem 0;
}
div.form-data div.email-verification-status.unverified > div.unverified{
    display: flex;
    color: #df6363;
}
div.form-data div.email-verification-status.verified > div.verified{
    display: flex;
    color: var(--color-primary);
}
div.form-data div.email-verification-status > div.verification-status{
    display: none;
    align-items: center;
}
div.email-verification-status > div.verification-status svg{
    width: 19px;
    height: 19px;
    margin-left: .5rem;
}
div.email-verification-status > div.verification-status p{
    font-size: 14px;
    margin-left: .375rem;
}

div.form-data > div.input-group{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
}
div.form-data > div.input-group label{
    font-size: 14px;
    padding: .25rem 0;
}
div.form-data > div.input-group input{
    width: 100%;
    font-size: 15px;
    margin: .25rem 0;
    padding: .75rem 1rem;
    border: 1px solid var(--color-secondary-active);
    background-color: #f5f6fb;
    outline: 0;
    border-radius: var(--border-radius-inner);
}
div#editContainer > form > div.form-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
}
div.form-buttons > a.cancel-button{
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-gray-primary);
    padding: .75rem 1rem;
    border-radius: var(--border-radius-inner);
    transition: .14s ease all;
    margin: .5rem;
}
div.form-buttons > a.cancel-button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
div.form-buttons > button[type="submit"]{
    font-size: 14px;
    background-color: var(--color-primary-active);
    border: none;
    outline: 0;
    border-radius: var(--border-radius-inner);
    cursor: pointer;
    color: #fff;
    padding: .75rem 1rem;
    margin: 0 .5rem;
    transition: .14s ease all;
}
div.form-buttons > button[type="submit"].disabled{
    background-color: #424959;
    pointer-events: none;
}
div.form-buttons > button[type="submit"]:hover{
    background-color: var(--color-primary);
}