div.nav-mobile-wrapper > div.nav-mobile-menu-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 .5rem;
    width: 22px;
    height: 17px;
    cursor: pointer;
}
div.nav-mobile-menu-button > span{
    height: 2px;
    width: 100%;
    background-color: var(--color-gray-primary);
    border-radius: 4px;
}
div.nav-mobile-menu-button > span:nth-child(2){
    width: 85%;
}
div.nav-mobile-menu-button > span:nth-child(3){
    width: 70%;
}
div#navMobileMenu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-100%);
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: .25s ease-in-out transform;
    border-radius: 0 10px 10px 0;
    padding: .5rem;
    background-color: #fff;
}
div#navMobileMenu > div.mobile-menu-header{
    display: flex;
    padding: .5rem;
}
div#navMobileMenu > div.mobile-menu-header div.close{
    margin-left: auto;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
div#navMobileMenu > div.mobile-menu-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.mobile-menu-content a.mobile-menu-item,
div.mobile-menu-content span.mobile-menu-item{
    cursor: pointer;
    padding: .5rem;
    margin: .25rem;
    text-decoration: none;
}
div.mobile-menu-content a.mobile-menu-item:disabled{
    pointer-events: none;
}
div.mobile-menu-content a.mobile-menu-item span,
div.mobile-menu-content span.mobile-menu-item span{
    position: relative;
    display: flex;
    align-items: center;
}
a.mobile-menu-item span div.mobile-menu-item-icon,
span.mobile-menu-item span div.mobile-menu-item-icon{
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}
a.mobile-menu-item span div.mobile-menu-item-icon svg,
span.mobile-menu-item span div.mobile-menu-item-icon svg{
    width: 100%;
    height: 100%;
    stroke: var(--color-gray-primary);
}
a.mobile-menu-item span p,
span.mobile-menu-item span p{
    color: var(--color-gray-primary);
}
div.mobile-menu-content > div.mobile-menu-group{
    display: flex;
    flex-direction: column;
}
div.mobile-menu-group > div.mobile-menu-group-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: .14s ease-in-out height;
}
div.mobile-menu-group span.mobile-menu-group-header div.mobile-menu-item-icon{
    transform: rotate(-90deg);
    transition: .14s ease transform;
}
div.mobile-menu-group.active span.mobile-menu-group-header div.mobile-menu-item-icon{
    transform: rotate(0);
}
div.mobile-menu-group.active > div.mobile-menu-group-content{
    height: 100%;
}
div.mobile-menu-group a.mobile-menu-group-item{
    padding-left: .75rem;
}
div.mobile-menu-group div.mobile-menu-item-logo{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}
div.mobile-menu-group div.mobile-menu-item-logo.instagram img{
    width: 100%;
}
div.mobile-menu-group div.mobile-menu-item-logo.youtube img{
    width: 21px;
}
div.mobile-menu-group div.mobile-menu-item-logo.facebook img{
    width: 20px;
}
div.mobile-menu-group div.mobile-menu-item-logo.tiktok img{
    width: 20px;
}
div.mobile-menu-group div.mobile-menu-item-logo.x img{
    width: 17px;
}
div.mobile-menu-group a.mobile-menu-item span.chip{
    font-size: 11px;
    border-radius: 10px;
    padding: .25rem .5rem;
    margin-left: auto;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
div.mobile-menu-group a.mobile-menu-item span.chip.soon{
    background-color: #e7fae1;
    color: #3c9d34;
}
div.mobile-menu-group a.mobile-menu-item span.chip.disabled{
    background-color: #fae1e1;
    color: #9d3434;
}
div#navMobileMenu-bgBlur{
    user-select: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    opacity: 0;
    transition: .25s ease-in-out opacity;
}
div.nav-mobile-wrapper.active > div#navMobileMenu-bgBlur{
    opacity: 1;
}
div.nav-mobile-wrapper.active > div#navMobileMenu{
    transform: translateX(0);
}

div.nav-popup.active div.nav-popup-background{
    opacity: 1;
}
div.nav-container > div.nav-mobile-wrapper{
    display: flex !important;
}
div.nav-container > div.nav-container-left{
    display: none;
}

@media screen and (max-width: 450px){
    div.nav-user-popup > div.nav-popup-inner{
        width: 450px;
        max-width: calc(100vw - 2rem);
    }
    @media screen and (max-width: 350px){
        div#navMobileMenu{
            width: 85vw;
        }
    }
}