@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --max-width: 1280px;
    --color-gray-secondary: #979393;
    --color-gray-primary: #525252;
    --color-primary: #df6363;
    --color-secondary:#fae1e1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #fbfbfb;
}
nav{
    position: relative;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .15);
    background-color: #fff;
}
nav div.nav-container{
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 .75rem;
    display: flex;
    justify-content: space-between;
}
div.nav-container > div.nav-container-left{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
div.nav-container-left > div.nav-item{
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
}
div.nav-container-left > div.nav-item > a{
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    color: var(--color-gray-secondary);
    transition: all .25s ease;
    cursor: pointer;
}
div.nav-container-left > div.nav-item > a[data-active="true"]{
    color: var(--color-gray-primary);
}
div.nav-container-left > div.nav-item > a:hover{
    color: var(--color-gray-primary);
}
div.nav-item > div.nav-logo{
    margin-right: .75rem;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.nav-logo > img{
    width: 100%;
    height: 100%;
}

div#features{
    position: absolute;
    z-index: 99;
    top: 100%;
    scale: 0;
    opacity: 0;
    transition: .15s ease all;
}
div#features div.features-container{
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .095);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div#features div.features-container::before{
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    top: -20px;
    left: 30px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}
div.features-container div.features-item{
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: .25s ease all;
    padding: .5rem;
    margin: .25rem;
    cursor: pointer;
}
div.features-container div.features-item.youtube:hover{
    background-color: #f9efef;
}
div.features-item.youtube div.features-item-logo{
    background-color: #f9efef;
}
div.features-container div.features-item.instagram:hover{
    background-color: #f6eff9;
}
div.features-item.instagram div.features-item-logo{
    background-color: #f6eff9;
}
div.features-container div.features-item.facebook:hover{
    background-color: #eff4f9;
}
div.features-item.facebook div.features-item-logo{
    background-color: #eff4f9;
}
div.features-container div.features-item.tiktok:hover{
    background-color: #eff9f8;
}
div.features-item.tiktok div.features-item-logo{
    background-color: #eff9f8;
}
div.features-container div.features-item.x:hover{
    background-color: #eef0f2;
}
div.features-item.x div.features-item-logo{
    background-color: #eef0f2;
}
div.features-item div.features-item-logo{
    width: 46px;
    height: 46px;
    margin-right: .75rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.features-item-logo > img{
    width: 100%;
}
div.features-item.instagram div.features-item-logo > img{
    padding: 4px;
}
div.features-item.youtube div.features-item-logo > img{
    padding: 10px;
}
div.features-item.facebook div.features-item-logo > img{
    padding: 9px;
}
div.features-item.tiktok div.features-item-logo > img{
    padding: 9px;
}
div.features-item.x div.features-item-logo > img{
    padding: 13px;
}
div.features-item > div.features-item-data{
    max-width: 200px;
}
div.features-item-data > p.features-item-name{
    font-weight: 500;
    font-size: 15px;
    /* color: var(--color-gray-primary); */
}
div.features-item-data > p.features-item-desc{
    padding-top: .125rem;
    font-size: 13px;
    color: var(--color-gray-primary);
}