div#main{
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    padding: 0 .75rem;
}
div#main > div.section-header{
    padding: 3rem 0;
}
div.section-header > .header-title{
    text-align: center;
    font-weight: 500;
}
div#main div.section-header > .header-title{
    font-weight: 700;
}
div.section-header > p.header-desc{
    text-align: center;
    padding: 1rem 0;
    color: var(--color-gray-primary);
}

div#pasteYoutubeUrl{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div#pasteYoutubeUrl > p{
    font-size: 12px;
    padding: .5rem .25rem;
}
div#pasteYoutubeUrl > p > a{
    color: var(--color-primary);
    text-decoration: none;
}
div#pasteYoutubeUrl > div.yt-input-wrapper{
    width: 100%;
    position: relative;
}
div.yt-input-wrapper > input#youtubeUrl{
    width: 100%;
    padding: 1rem 48px 1rem 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 12px;
    background-color: #f5f6fb;
}
div.yt-input-wrapper > input#youtubeUrl::placeholder{
    color: #6b625e;
}
div.yt-input-wrapper > div.yt-input-buttons{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
}
div.yt-input-buttons > div.yt-input-button{
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: .16s ease all;
    user-select: none;
}
div.yt-input-buttons > div.yt-input-button:hover{
    background-color: rgba(0,0,0,.08);
}
div.yt-input-buttons > div.yt-input-button:active{
    background-color: rgba(0,0,0,.12);
}
div.yt-input-buttons[data-display="paste"] > div.yt-input-button.paste{
    display: flex;
}
div.yt-input-buttons[data-display="search"] > div.yt-input-button.search{
    display: flex;
}
div.yt-input-buttons > div.yt-input-button > svg{
    width: 21px;
    margin-top: -1px;
}
@keyframes bounce {
    35%{
        transform: translateX(-5px);
    }
    70%{
        transform: translateX(3px);
    }
}

div#youtubeUrlMessage{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 1rem;
}
div#youtubeUrlMessage > div.youtube-url-message{
    display: none;
    align-items: center;
}
div#youtubeUrlMessage[data-message="invalid-url"] > div.youtube-url-message.invalid-url{
    display: flex;
}
div#youtubeUrlMessage[data-message="loading"] > div.youtube-url-message.loading{
    display: flex;
}
div#youtubeUrlMessage[data-message="not-found"] > div.youtube-url-message.not-found{
    display: flex;
}
div#youtubeUrlMessage[data-message="rate-limit"] > div.youtube-url-message.rate-limit{
    display: flex;
}
div.youtube-url-message > div.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .25rem;
}
div.youtube-url-message > div.icon svg{
    width: 18px;
}
div.youtube-url-message > p{
    font-size: 14px;
}
@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

div#youtubeVideosWrapper{
    width: 100%;
    max-width: 700px;
    margin: 0 auto 4rem;
}
div#youtubeVideos{
    display: flex;
    width: 100%;
    flex-direction: column;
}
div#youtubeVideos > div.youtube-video{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    border-radius: 12px;
    background-color: #fff;
    /* border: 1px solid #f3f3f3;
    box-shadow: 0 0 7px rgba(0,0,0,.075); */
    padding: .5rem;
    margin: .5rem 0;
}
div.youtube-video > div.youtube-video-info{
    display: flex;
    height: 100%;
    width: 100%;
}
div.youtube-video-info > div.youtube-video-thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: .25rem;
}
div.youtube-video-info > div.youtube-video-thumbnail img{
    height: 100%;
    width: auto;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #f3f3f3;
}
div.youtube-video-info > div.youtube-video-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
}
div.youtube-video-data a.youtube-video-title{
    margin: .25rem 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray-primary);
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    white-space: wrap;
    -webkit-line-clamp: 1;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
}
div.youtube-video-data p.youtube-video-duration{
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray-primary);
}
div.youtube-video-data span.youtube-video-author{
    margin: auto 0 .5rem;
}
div.youtube-video-data span.youtube-video-author a{
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray-primary);
    padding: .5rem 0;
    text-decoration: none;
}
div.youtube-video > div.youtube-video-options{
    display: flex;
    align-items: flex-start;
}
div.youtube-video-options > button.download-format{
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    margin: .25rem 0;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    user-select: none;
    transition: .14s ease all;
}
div.youtube-video-options > button.download-format:hover{
    opacity: .95;
}
div.youtube-video-options > button.download-format:active{
    background-color: var(--color-primary-active);
    border: 1px solid var(--color-primary-active);
}
div.youtube-video-options > button.download-format img{
    height: 22px;
}
div.youtube-video-options > div.youtube-video-quality{
    margin: 0 .25rem;
    padding: .25rem;
    display: flex;
    position: relative;
}
div.youtube-video-quality > div.selected-quality{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-width: 130px;
    height: 35px;
    padding: 0 .25rem 0 .75rem;
    font-size: 14px;
    background-color: #fff;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 8px;
    cursor: pointer;
}
div.selected-quality > p{
    text-wrap: nowrap;
}
div.youtube-video-quality > div.selected-quality img{
    /* display: none; */
    padding-right: 8px;
    height: 17px;
}
div.youtube-video-quality > div.qualities{
    scale: 0;
    position: absolute;
    top: 100%;
    width: 170px;
    background-color: #fff;
    z-index: 3;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 15px rgba(0,0,0,.075);
    transition: .1s ease scale;
    margin-bottom: 1rem;
}
div.youtube-video-quality > div.qualities.active{
    scale: 1;
}
div.qualities > div.qualities-group{
    padding: .25rem 0;
}
div.qualities > div.qualities-group > p{
    font-weight: 500;
    color: var(--color-gray-primary);
    padding: .5rem .5rem .25rem;
    font-size: 14px;
}
div.qualities div.quality{
    display: flex;
    justify-content: space-between;
    padding: .5rem .25rem .5rem .75rem;
    transition: .15s ease all;
    cursor: pointer;
    margin: .125rem 0;
}
div.qualities div.quality:hover{
    background-color: #eee;
}
div.qualities div.quality:active{
    background-color: #e5e5e5;
}
div.qualities div.quality > p{
    font-size: 14px;
    color: var(--color-gray-primary);
}
div.qualities div.quality > p > span{
    font-size: 12px;
    vertical-align: top;
}
div.quality > div.quality-chips{
    display: flex;
}
div.quality-chips > span.chip{
    font-size: 10px;
    font-weight: 500;
    vertical-align: top;
    margin-left: auto;
    padding: 0 .375rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .25rem;
}
div.quality-chips > span.chip.red{
    background-color: #fae1e1;
    color: #df6363;
}
div.quality-chips > span.chip.purple{
    background-color: #f3e1fa;
    color: #b463df;
}
div.quality-chips > span.chip.green{
    background-color: #e5fae1;
    color: #6bcc44;
}

div#formatsPopupWrapper{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .25);
    z-index: 19;
    transition: .14s ease background-color;
}
div#formatsPopup{
    position: relative;
    z-index: 20;
    inset: 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
}

div.section-wrapper{
    background-color: #f9f9fb;
    padding: 1.25rem 0;
}

section#howTo{
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    padding: 0 .75rem;
}
section > div.section-header{
    padding: 1.75rem 0;
}
section#howTo > div.how-to-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.75rem;
}
div.how-to-steps > p.how-to-step{
    font-size: 15px;
    color: var(--color-gray-primary);
    padding: .75rem 0;
    text-align: center;
}

section#faq{
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    padding: 0 .75rem;
}
section#faq > div.questions{
    padding: 1rem 0;
}
div.questions > div.qa{
    display: flex;
    flex-direction: column;
    padding: .75rem 0;
}
div.qa > p.question{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    padding: .25rem 0;
    color: var(--color-gray-primary);
}
div.qa > p.answer{
    line-height: 1.75;
    text-align: center;
    padding: .25rem 0;
    color: var(--color-gray-primary);
}

@media screen and (max-width: 600px) {
    #main{
        min-height: 60vh;
    }
    div.qa > p.question,
    div.qa > p.answer{
        text-align: justify;
    }
    div#youtubeVideos > div.youtube-video{
        height: auto;
        flex-direction: column;
    }
    div.youtube-video > div.youtube-video-options {
        justify-content: flex-end;
        padding: 1rem .5rem;
    }
    div.youtube-video-info > div.youtube-video-thumbnail{
        height: auto;
        width: 185px;
    }
    div.youtube-video-info > div.youtube-video-thumbnail > img{
        width: 100%;
        height: auto;
    }
    div.youtube-video-data span.youtube-video-author{
        margin-top: .5rem;
    }
    @media screen and (max-width: 450px){
        div.youtube-video-info > div.youtube-video-thumbnail{
            height: auto;
            width: 100%;
        }
        div.youtube-video > div.youtube-video-options {
            justify-content: flex-end;
            margin: 0 .5rem;
            padding: .25rem 0;
        }
        div.youtube-video > div.youtube-video-info{
            flex-direction: column;
        }
        div.youtube-video-data span.youtube-video-author{
            margin: .25rem 0;
        }
        div.youtube-video-data span.youtube-video-author a{
            padding: .25rem 0;
        }
    }
}