<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Insta | Too many requests, Error 429</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body style="padding: 0; margin: 0; box-sizing: border-box;">
    <div id="main" style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

            <h2 style="font-weight: 700; font-family: 'Montserrat';">429 - Too many requests</h3>
            <p style="font-family: 'Montserrat'; text-align: center; margin: 0;">Seems like you made too many requests in short period. <br/>Please try again later.</p>
        </div>
    </div>
</body>
</html>