<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Instagram | Photos, Stories and Data</title>
    <link rel="stylesheet" href="/assets/css/nav.css">
    <script src="/assets/js/nav.js" defer></script>
</head>
<body>
    <%- include('nav.ejs') %>
</body>
</html>