<nav>
    <div class="nav-container">
        <div class="nav-container-left">
            <div class="nav-item">
                <div class="nav-logo">
                    <img src="/assets/images/logo.svg" alt="">
                </div>
                <a href="/">
                    <p>GetInsta</p>
                </a>
            </div>
            <div class="nav-item">
                <a data-active="false" id="showFeaturesButton"><p>Features</p></a>
                <div id="features">
                    <div class="features-container">
                        <div class="features-item instagram" data-platform="instagram">
                            <div class="features-item-logo">
                                <img src="/assets/images/instagram-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">Instagram</p>
                                <p class="features-item-desc">Get instagram profile, photos and more.</p>
                            </div>
                        </div>
                        <div class="features-item youtube" data-platform="youtube">
                            <div class="features-item-logo">
                                <img src="/assets/images/youtube-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">YouTube</p>
                                <p class="features-item-desc">Download YouTube videos and more.</p>
                            </div>
                        </div>
                        <div class="features-item facebook" data-platform="facebook">
                            <div class="features-item-logo">
                                <img src="/assets/images/facebook-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">Facebook</p>
                                <p class="features-item-desc">Download Facebook videos and more.</p>
                            </div>
                        </div>
                        <div class="features-item tiktok" data-platform="tiktok">
                            <div class="features-item-logo">
                                <img src="/assets/images/tiktok-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">TikTok</p>
                                <p class="features-item-desc">Download Tiktoks.</p>
                            </div>
                        </div>
                        <div class="features-item x" data-platform="x">
                            <div class="features-item-logo">
                                <img src="/assets/images/X-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">X</p>
                                <p class="features-item-desc">Download media from X.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a href="">
                    <p>Plans</p>
                </a>
            </div>
        </div>
        <div class="container-right">
            <!-- SignIn button -->
        </div>
    </div>
</nav>